body{
    background-image: url('picture_background.jpg');/*<a href="https: //www.freepik.com/free-vector/green-casino-poker-table-texture-game-background_48197468.htm#query=poker%20table%20background&position=0&from_view=keyword&track=ais&uuid=0aafc6b7-b5ff-4469-bea3-a0551ee1007e">Image by upklyak</a> on Freepik*/
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: "Raleway",sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #000000;
    --background: #000000;
    --green: #056608;
    --form: #F5F5F5;
    --red: #ac0000cc;
}

.navbar{
    background-color: var(--background);
    position: sticky;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 2;
    padding: 0% 10%;
    top: 0;
}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
}

.title:hover {
    color: var(--green);
    -webkit-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}


.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}




.info{
    /*background-color: #056608;*/
    background-image: url('picture_background.jpg');/*<a href="https: //www.freepik.com/free-vector/green-casino-poker-table-texture-game-background_48197468.htm#query=poker%20table%20background&position=0&from_view=keyword&track=ais&uuid=0aafc6b7-b5ff-4469-bea3-a0551ee1007e">Image by upklyak</a> on Freepik*/
    background-size: cover;  
    background-repeat: no-repeat; 
    padding: 2% 10%;
    padding-bottom: 20%;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
    
}
.info li{
    font-size: 20px;

}
.info p {
    font-size: 25px;
}
#player{
    margin-top: 25px;
    -webkit-box-shadow: rgb(0, 0, 0) 5px 5px 20px -3px !important;
            box-shadow: rgb(0, 0, 0) 5px 5px 20px -3px !important;
}
.name {
    color: #FFFFFF;
    background-color: var(--background);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 10px;
}
.text h2 {
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 4px;
}
.text p {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
}

.copy{
    color: #FFFFFF;
    text-align: center;
    border-top: 1px solid white;
    background-color: var(--background);

}

@media screen and (min-width: 830px) {
    .menu{
        -webkit-animation: none;
                animation: none;
    }
}

@media screen and (max-width: 1050px) {
    .navbar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0;
        margin-right: 10%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        gap: 10px;
        z-index: 3;
        -webkit-animation: none !important;
                animation: none !important; 
        display: none;
    }

    #player{
        width: 100%;
        height: auto;
    }
    
    .contact {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 23px;
    }
    .info{
        min-height: 500px;
    }

    .text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #form {
        width: 200px;
        margin-top: 100px;
        background-color: var(--form);
        border-radius: 4px;
        font-size: 12px;
    }

    #form h1 {
        text-align: center;
        font-size: 30px;

    }
    #form label{
        font-size: 25px;
    }

    #player-hand{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    #dealer-hand{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .contact {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 23px;
    }

    .info h2 {
        font-size: 40px;
    }

    .info p{
        font-size: 20px;
    }
    .link a{
        font-size: 12px;
    }
}

.btn, .blackjackButtons, #returnButton{
    font-weight: 500;
    font-size: 14px;
    color: var(--form);
    background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(0%, #000000));
    background: -o-linear-gradient(bottom, #000000 0%, #000000 0%);
    background: linear-gradient(0deg, #000000 0%, #000000 0%);
    padding: 10px 30px;
    border: solid #0066cc00 2px;
    -webkit-box-shadow: rgb(0, 0, 0) 5px 5px 20px -3px;
            box-shadow: rgb(0, 0, 0) 5px 5px 20px -3px;
    border-radius: 50px;
    -webkit-transition : 674ms;
    -o-transition : 674ms;
    transition : 674ms;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    }

#returnButton, .blackjackButtons{
    display: none;
}

#leaveButton{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.btn:hover, .blackjackButtons:hover, #returnButton:hover{
    -webkit-transition : 674ms;
    -o-transition : 674ms;
    transition : 674ms;
    padding: 10px 50px;
    -webkit-transform : translateY(-0px);
        -ms-transform : translateY(-0px);
            transform : translateY(-0px);
    background: -webkit-gradient(linear, left bottom, left top, from(#171717), color-stop(50%, #171717));
    background: -o-linear-gradient(bottom, #171717 0%, #171717 50%);
    background: linear-gradient(0deg, #171717 0%, #171717 50%);
    color: #ffffff;
    border: solid 2px #171717;
}

#username_error, #bet_error{
    visibility: hidden;
    color: var(--red);
    font-size: 15px;
    height: 13px;
    margin: 3px 0 3px 0;
}

#form {
    width: 250px;
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 4px;
    font-size: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: rgb(0, 0, 0) 5px 5px 20px -3px !important;
            box-shadow: rgb(0, 0, 0) 5px 5px 20px -3px !important;
}   

#form label{
    font-size: 25px;
    color: #000000;
}
    
#form button, #form #leaveButton {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: #FFFFFF;
    background-color: #000000;
    border: none;
    border-radius: 4px;
}
    
.input-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
    
.input-control input, #betInput {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 5px;
}
    
.input-control input:focus, #betInput input:focus {
        outline: 0;
}
    
.input-control.success input, #betInput.success input {
    border-color: #09c372;
}
    
.input-control.error input, #betInput.error input {
    border-color: var(--red);
}
    
.input-control .error, #betInput .error {
    color: var(--red);
    font-size: 15px;
    height: 13px;
}
.circle-container {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    overflow: hidden; 
}
      
.circle-container img {
    width: 100%; 
    height: auto;
    display: block; 
}
      
#player-hand, #dealer-hand{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

#dealer-info, #player-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
#dealer-info > *:not(:last-child),
#player-info > *:not(:last-child) {
    margin-right: 20px;
}
/* transformation of a exchange rate */
@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            opacity: 0;
        }
    50% {
        opacity: 1;
        }
    100% {
            -webkit-transform: translateX(50%);
                    transform: translateX(50%);
            opacity: 0;
        }
}
@keyframes slideIn {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            opacity: 0;
        }
    50% {
        opacity: 1;
        }
    100% {
            -webkit-transform: translateX(50%);
                    transform: translateX(50%);
            opacity: 0;
        }
}
        
.menu {
        -webkit-animation: slideIn 5s linear infinite;
                animation: slideIn 5s linear infinite;
        color: #ffffff;
        overflow-y: hidden;
        overflow-x: hidden;
}
#copyright{
    visibility: hidden;
}
/* animation of a card flipping while dealing */
.flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes flipInY {
    0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
    }
    40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    }
    60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
    }
    80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
    100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    }
    }
    @keyframes flipInY {
    0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
    }
    40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    }
    60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
    }
    80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
    100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    }
    } 